<style>
    .colr:hover
    {
 color: #194595 !important;
    }
    .icon-speedometer:hover
    {
        color: #194595 !important;
    }
    .sidebar-nav ul li a.active, .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover, .sidebar-nav ul li a:hover i {
    color: #787f91 !important;
}
@media  (min-width: 768px) {
    
    /* .comment
    {
        width: 100px;
    }
    .copyright
    {
        width: 100px;
    } */
    /* .comment
    {
       display: block;
    }
    .copyright
    {
        display: block;
        

    } */
    .sidebar-nav ul li a.active {
   
    background-color: #E6E9F4;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}


}
</style>
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">        
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="active ac colr"> <a class="has-arrow active" href="#" style="
                    color: #194595 !important;
                font-weight: 500;
                border-left: none !important;
                border-right: 3px solid  #194595 !important;">
                <i class="fa fa-tachometer" style=" color: #194595 !important;" aria-hidden="true"></i>
                
                    <span class="hide-menu">Dashboard</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li class="dp"><a onclick="loadMainPage('/snapshot')" href="#/snapshot">Snapshot</a></li>
                        <li class="dp"><a   href="#" >Workout statistic </a></li>     
                        <li class="dp"><a   href="#" >Workout plan </a></li>
                        <li class="dp"><a   href="#" >Distance map </a></li>
                        <li class="dp"><a   href="#" >Diet food menu </a></li>     
                        <li class="dp"><a   href="#" > Personal record </a></li>     
                    </ul>
                </li>
 

                <li class="colr"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="fa fa-android" aria-hidden="true"></i><span class="hide-menu">Apps</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li class="dp"><a  href="#">charts </a></li>
                        <li class="dp"><a  href="#">charts </a></li> 
                        <li class="dp"><a  href="#">charts </a></li>   
                        <li class="dp"><a  href="#">charts </a></li>             
                    </ul>
                </li>
                
                <li class="colr"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="fa fa-line-chart" aria-hidden="true"></i><span class="hide-menu">Charts</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li class="dp"><a  href="#">charts </a></li>
                        <li class="dp"><a  href="#">charts </a></li> 
                        <li class="dp"><a  href="#">charts </a></li>   
                        <li class="dp"><a  href="#">charts </a></li>             
                    </ul>
                </li>
                
                <li class="colr"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="fa fa-globe" aria-hidden="true"></i><span class="hide-menu">Bootstrap</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li class="dp"><a  href="#">charts </a></li>
                        <li class="dp"><a  href="#">charts </a></li> 
                        <li class="dp"><a  href="#">charts </a></li>   
                        <li class="dp"><a  href="#">charts </a></li>             
                    </ul>
                </li>
                
                <li class="colr"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="icon-speedometer"></i><span class="hide-menu">Plugins</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li class="dp"><a  href="#">charts </a></li>
                        <li class="dp"><a  href="#">charts </a></li> 
                        <li class="dp"><a  href="#">charts </a></li>   
                        <li class="dp"><a  href="#">charts </a></li>             
                    </ul>
                </li>
                
                <li class="colr"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="icon-speedometer"></i><span class="hide-menu">Widget</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li class="dp"><a  href="#">charts </a></li>
                        <li class="dp"><a  href="#">charts </a></li> 
                        <li class="dp"><a  href="#">charts </a></li>   
                        <li class="dp"><a  href="#">charts </a></li>             
                    </ul>
                </li>
                <li class="colr"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="icon-speedometer"></i><span class="hide-menu">Forms</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li class="dp"><a  href="#">charts </a></li>
                        <li class="dp"><a  href="#">charts </a></li> 
                        <li class="dp"><a  href="#">charts </a></li>   
                        <li class="dp"><a  href="#">charts </a></li>             
                    </ul>
                </li>
                

                <li class="colr"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="fa fa-table" aria-hidden="true"></i><span class="hide-menu">Table</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li class="dp"><a  href="#">charts </a></li>
                        <li class="dp"><a  href="#">charts </a></li> 
                        <li class="dp"><a  href="#">charts </a></li>   
                        <li class="dp"><a  href="#">charts </a></li>             
                    </ul>
                </li>
                

                <li class="colr"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                    <i class="fa fa-file" aria-hidden="true"></i><span class="hide-menu">Pages</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li class="dp"><a  href="#">charts </a></li>
                        <li class="dp"><a  href="#">charts </a></li> 
                        <li class="dp"><a  href="#">charts </a></li>   
                        <li class="dp"><a  href="#">charts </a></li>             
                    </ul>
                </li>
                


               
            </ul>
            <div class="comment mr-4 mt-5" style="background: #0B2A97;
            padding:12px;
            display: flex;
            align-items: center;
            border-radius: 1.25rem;
            margin-left: 10px;
            position: relative;">    
              <img src="images/calendar.png" alt="" height="40px" width="40px" >
             <span>  <p style="color: white; font-size: 16px;font-weight: 500;margin:5px;padding-left: 5px;">Create Workout Plan Now</p></span>
            </div>
            <div class="copyright mt-3 mb-5" style="margin-left: 10px;">
                <p><strong>Gymove Fitness Admin Dashboard</strong>© 2020 All Rights Reserved</p>
                <p>Made with <span class="heart"><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i></span> by DexignZone</p>
            </div> 
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>